# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Cypress
cypress/screenshots/
cypress/videos/
cypress/fixtures/
cypress/results/

# Allure reports
allure-report/
allure-results/

# Variables de entorno
.env
.env.local
.env.development
.env.production
.env.test

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Otros
dist/
build/
*.bak
*.tmp
